<nav class="navbar navbar-centered">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">About</a></li>
        <li><a href="/platform">Platform</a></li>
        <li><a href="/petition">Petition</a></li>
        <li><a href="/" class="logo">Summer for Progress</a></li>
        <li><a href="/get-involved">Get Involved</a></li>
        <li><a href="/scorecard">Scorecard</a></li>
        <li><a href="/resources">Resources</a></li>
        
      </ul>
    </div>
  </div>
</nav>
