// Bootstrap
@import 'vendor/bootstrap/bootstrap';

@import 'helpers/mixins';

// Brand Colors
$orange: #F15A34;
$teal: #71C8B3;
$gray: #282F2E;

// Media Query Sized
$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Bootstrap Overrides
$brand-primary: $orange;
$brand-secondary: $teal;
$text-color: $gray;
$link-color: $teal;
$btn-success-bg: $teal;
$btn-success-border: $teal;

$nav-link-hover-bg: transparent;

body {
  // padding-top: 50px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

a {
  color: $brand-secondary;

  &:hover {
    color: darken($brand-secondary, 15);
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 3px;
}

.navbar-centered {
  background: transparent;
  margin-bottom: 0;
  position: absolute;
  top:0;
  left: 0;
  right: 0;

  .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
  }

  a {
    color: white;
    background: none;
  }

  ul {
    width: 100%;
  }

  li {
    width: 20%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;

    a:hover {
      font-weight: 700;
    }
  }

  .logo {
    @extend .hide-text;

    height: 100px;
    background: url('../img/logo-white.svg') no-repeat center center;
  }

  @include until($medium) {
    background: $orange;
    position: relative;

    .nav {
      margin: 0;
    }

    li {
      text-align: center;
      width: 50%;
      float: left;
      margin: auto;

      &:first-child {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

// Global
.signup {
  padding: 25px;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  color: white;

  &__heading {
    margin-top: 0;
  }
}

.sub-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

//// Buttons
// Buttons
.btn {
  font-weight: 700;
  height: 40px;
  padding: 10px 15px;
  // text-transform: uppercase;
  // letter-spacing: 1px;
}

.btn-round {
  border-radius: 50px;
}

.btn-primary,
.btn-primary:visited {
  background-color: $brand-primary;
  color: white;
  border: 1px solid $brand-primary;
  outline: none;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: darken($brand-primary, 8);
  color: white;
  border: 1px solid darken($brand-primary, 8);
  outline: none;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid darken($brand-primary, 15);
  background-color: darken($brand-primary, 15);
  color: white;
  border: none;
  outline: none;
}

.btn-secondary,
.btn-secondary:visited {
  background-color: $brand-secondary;
  color: white;
  border: none;
  outline: none;
}

.btn-secondary:hover,
.btn-secondary:active:hover,
.btn-secondary.active:hover {
  background-color: darken($brand-secondary, 10);
  color: white;
  border: none;
  outline: none;
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: darken($brand-secondary, 15);
  color: white;
  border: none;
  outline: none;
}

.btn-dark, .btn-dark:visited {
  background-color: darken($brand-secondary, 20);
  color: white;
  border: none;
  outline: none;
}

.btn-dark:hover,
.btn-dark:active:hover,
.btn-dark.active:hover {
  background-color: darken($brand-secondary, 25);
  color: white;
  border: none;
  outline: none;
}

.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active {
  background-color: darken($brand-secondary, 30);
  color: white;
  border: none;
  outline: none;
}

.btn-donate,
.btn-donate:visited {
  background-color: $orange;
  color: white;
  border: none;
  outline: none;
}

.btn-donate:hover,
.btn-donate:active:hover,
.btn-donate.active:hover {
  background-color: darken($orange, 10);
  color: white;
  border: none;
  outline: none;
}

.btn-donate:focus,
.btn-donate.focus,
.btn-donate:active,
.btn-donate.active {
  background-color: darken($orange, 15);
  color: white;
  border: none;
  outline: none;
}

.btn-outline,
.btn-outline:visited {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 0;
}

.btn-outline:hover,
.btn-outline:active:hover,
.btn-outline.active:hover {
  background-color: rgba(255,255,255,0.1);
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 0;
}

.btn-outline:focus,
.btn-outline.focus,
.btn-outline:active,
.btn-outline.active {
  background-color: rgba(255,255,255,0.4);
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 0;
}

.btn-twitter,
.btn-twitter:visited {
  background-color: #1da1f2;
  color: white;
  border: 1px solid #1da1f2;
  outline: none;
}

.btn-twitter:hover,
.btn-twitter:active:hover,
.btn-twitter.active:hover {
  background-color: darken(#1da1f2, 8);
  color: white;
  border: 1px solid darken(#1da1f2, 8);
  outline: none;
}

.btn-twitter:focus,
.btn-twitter.focus,
.btn-twitter:active,
.btn-twitter.active {
  border: 1px solid darken(#1da1f2, 15);
  background-color: darken(#1da1f2, 15);
  color: white;
  border: none;
  outline: none;
}

.btn-facebook,
.btn-facebook:visited {
  background-color: #3b5998;
  color: white;
  border: 1px solid #3b5998;
  outline: none;
}

.btn-facebook:hover,
.btn-facebook:active:hover,
.btn-facebook.active:hover {
  background-color: darken(#3b5998, 8);
  color: white;
  border: 1px solid darken(#3b5998, 8);
  outline: none;
}

.btn-facebook:focus,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook.active {
  border: 1px solid darken(#3b5998, 15);
  background-color: darken(#3b5998, 15);
  color: white;
  border: none;
  outline: none;
}


//// Footer
.footer {
  background: $orange;
  color: white;
  @extend .pt4;
  @extend .pb4;

  a {
    color: white;
  }

  &__legal {
    text-align: center;
    @extend .pt4;
  }

  p {
    font-size: 14px;
  }

  &__info {
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;

    p {
      margin: 0;
    }
  }

  &__nav {
    margin-bottom: 0;

    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

// Home page
.intro-bg {
  padding-top: 100px;
  // padding-bottom: 4rem;
  background: $orange url('../img/background.jpg') no-repeat center center;
  background-size: cover;

  color: white;

  p {
    font-size: 18px;
  }

  @include until($medium) {
    padding-top: 0;
  }
}

.partners {
  background: $gray-lighter;

  &__list {
    list-style-type: none;
    padding: 20px;
    margin: 0;
  }
}

// Petition Signup
.petition-signup {
  #can_embed_form {
    background: rgba(0,0,0,.2)!important;
    border: 0 !important;
    border-radius: 3px;
    padding: 25px !important;
    font-family: 'Lato', sans-serif !important;

    h2, h3, h4, label {
      color: white !important;
    }

    .country_wrap {
      display: none;
    }

    &.can_float #form_col2, &.can_float #form_col1 {
      width: 100% !important;
    }

    #d_sharing {
      border-top: none !important;
      display: none !important;
    }

    h3, h4 {
      display: none;
    }

    h1, h2, h3, h4, h5 {
      font-weight: 700 !important;
    }

    #can_thank_you {
      background-color: $teal !important;
    }

    #embed_toggle-open, #embed_toggle-close {
      color: white !important;
    }

    #action_welcome_message #action_welcome_message_inner {
      border-radius: 3px !important;
    }

    input[type=submit] {
      margin-bottom: 0 !important;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: none !important;
    }
  }

  #can_embed_form_inner * {
    font-family: 'Lato', sans-serif !important;
  }

  #logo_wrap {
    display: none;
  }

  #can_embed_form input[type="submit"], #can_embed_form .button, #donate_auto_modal input[type="submit"], #donate_auto_modal .button {
    background-color: $teal !important;
  }

  #can_embed_form input[type="submit"]:hover, #can_embed_form .button:hover, #donate_auto_modal input[type="submit"]:hover, #donate_auto_modal .button:hover {
    background-color: darken($teal,15) !important;
  }

  #action_info {
    display: none;
  }
}

.orange-signup {
  .petition-signup {
    #can_embed_form {
      background: $orange !important;

      #can_thank_you {
        background: $teal !important;
      }
    }
  }
}

//// Timeline
.timeline {
  border-left: 1px solid $teal;

  &__list {
    list-style-type: none;
    border-left: 3px solid $teal;
    margin-bottom: 0;

    @media screen and (max-width: $large) {
      margin-left: 30px;
    }
  }

  &__item {
    padding: 4rem 20px 4rem 30px;
    counter-increment: item;
    margin-bottom: 5px;

    &:before {
      margin-right: 10px;
      content: counter(item);
      background: $teal;
      border-radius: 100%;
      color: white;
      left: -25px;
      position: absolute;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 24px;
      font-weight: bolder;
      display: inline-block;
    }
  }

  &__heading {
    margin-top: 0;
  }

  &__description {
    font-size: 18px;
  }

}

// Platform
.bills-list {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
}

.bill {
  position: relative;
  width: 23.5%;
  margin: 2% 2% 0 0;
  // border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  float: left;
  height: 350px;
  text-align: center;
  padding: 25px;
  transition: 0.25s;
  cursor: pointer;
  background-size: auto 185px;
  background-repeat: no-repeat;
  background-position: 125% center;

  &:hover {
    background-color: $teal;
    color: white;

    a {
      color: white;
    }
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__link {
    // display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      text-decoration: none;
    }
  }

  &__sponsor {
    margin-top: 0;
  }

  @include until($large) {
    height: 250px;
    width: 31%;

    &:nth-child(4n) {
      margin-right: 2%;
    }
  };

  @include until($medium) {
    height: 250px;
    width: 48%;

    &:nth-child(4n) {
      margin-right: 2%;
    }
  };

  @include until($small) {
    width: 100%;
    margin-right:2%;
  };

  &--expanded {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    padding: 50px;
    border-bottom: 10px solid $teal;
  }

  &--healthcare {
    background-image: url('../img/icons/healthcare.svg');
    background-position: 125%;
  }

  &--education {
    background-image: url('../img/icons/education.svg');
    background-position: 125%;
  }

  &--minimum-wage {
    background-image: url('../img/icons/minimum-wage.svg');
    background-position: 125% center;
  }

  &--womens-rights {
    background-image: url('../img/icons/womens-rights.svg');
    background-position: 125% center;
  }

  &--voting-rights {
    background-image: url('../img/icons/voting-rights.svg');
    background-position: 125% center;
  }

  &--criminal-justice {
    background-image: url('../img/icons/criminal-justice.svg');
    background-position: 125% center;
  }

  &--workers-rights {
    background-image: url('../img/icons/workers-rights.svg');
    background-position: 125% center;
  }

  &--climate {
    background-image: url('../img/icons/climate.svg');
  }
}

// Helpers
//// Spacing
.pt50 {
  padding-top: 50px;
}

.pt4 {
  padding-top: 4rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20;
}

.mb20 {
  margin-bottom: 20;
}

.fs18 {
  font-size: 18px;
}

.f5f5f5-bg {
  background: #f5f5f5;
}

//// Colors
.teal-text {
  color: $teal;
}

.gray-text {
  color: $gray;
}

.white-text {
  color: white;

  &:hover {
    color: white !important;
  }
}
