{% extends 'base.html' %}

{% block content %}
  <section class="section--intro row">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <span class="sub-heading">Get Involved</span>
          <h1>The Summer for Progress: Let’s Move Our Country Forward</h1>
          <p>From sharing social media posts to hosting town-halls and lobbying meetings, there’s a way for everyone to get involved.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>1. Join us on Slack</h2>
          <p><strong>After you’ve signed <a href="/petition">the petition</a>, join us on Slack!</strong> Slack is a messaging app for teams, and it’s what we use to stay connected with folks all around the country.</p>

          <p>Organizers from national partner organizations, as well as other activists and hosts, are waiting for you! We’ll be there to answer questions or walk you through key steps of the action, or maybe you can lend your experience someone else. We’re in this together!</p>
        </div>

        <div class="col-md-4">
          <a href="#" class="btn btn-success btn-block">Join us on Slack</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>2. Share on Social Media</h2>
          <p>Share <a href="/petition">the petition</a> with your friends, family and following, then head over to our resources page to find graphics, pre-written social posts and more.</p>
        </div>

        <div class="col-md-4 text-center">
          <a href="#" class="btn btn-success btn-block">Share on Facebook</a>
          <a href="#" class="btn btn-success btn-block">Share on Twitter</a>
          <a href="#">Get social media resources <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>3. Contact your Representative</h2>
          <p>Use our calling tool to let your Member of ongress know that they should support ther eopl’es Platform.</p>

          <p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

          <p><a href="#">Dial 555-5555 or fill out the form to the right an we’ll connect you to your representative.</a></p>
        </div>

        <div class="col-md-4">
          <h3><a href="#">Dial 555-5555</a></h3>
          <p>Or fill out this form and your phone will ring.</p>

          <form class="signup" action="" method="POST">
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" class="form-control" placeholder="555-5555">
            </div>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" placeholder="Jane Doe">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" placeholder="jane@example.com">
            </div>

            <div class="form-group">
              <label for="name">Zip Code</label>
              <input type="text" id="name" class="form-control" placeholder="Jane Doe">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Make the Call</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>4. Attend an Event</h2>
          <p>Inspired copy about why we need to people to attend events here. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>

        <div class="col-md-4 text-center">
          <a href="#" class="btn btn-success btn-block">Find an Event</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>5. Sign Up to Host an Event</h2>
          <p>Inspired copy about why we need to people to host events here. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

          <p><a href="#">You can find a guide for scheduling and hosting both town-halls and in-person lobby meetings here!</a></p>
        </div>

        <div class="col-md-4">
          <form class="signup" action="" method="POST">
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" class="form-control" placeholder="555-5555">
            </div>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" placeholder="Jane Doe">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" placeholder="jane@example.com">
            </div>

            <div class="form-group">
              <label for="name">Zip Code</label>
              <input type="text" id="name" class="form-control" placeholder="Jane Doe">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Make the Call</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
