{% extends 'base.html' %}

{% block content %}
  <section class="row intro-bg">
    <div class="container pt4 pb4">
      <div class="row">
        <div class="col-md-6 mb20">
          <h1>Join the Summer for Progress</h1>
          <p>Progressives are organizing across the country to demand House Democrats cosponsor a people’s platform – 8 bills that say definiteively people over profit.</p>

          <p><strong>To get started, tell your Member of Congress that you support the People’s Platform and that they should, too.</strong></p>
        </div>

        <div class="col-md-5 col-md-offset-1 mb20">
          {% include "partials/signup.html" %}
        </div>

        <div class="text-center">
          <a href="#plan" class="learn-more white-text"><div>Learn More</div><div class="glyphicon glyphicon-chevron-down"></div></a>
        </div>
      </div>
    </div>

    <!-- <div class="partners">
      <ul class="partners__list">
        <li class="partners__logo"></li>
      </ul>
    </div> -->
  </section>

  <section class="row pt4 pb4 f5f5f5-bg" id="plan">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>The Summer for Progress: Let’s Move Our Country Forward</h1>
          <p class="fs18">Resisting the Trump administration and Republican Congressional agenda is only part of how we can move our country forward. Now is the time for Democrats to campaign on a bold agenda and fight to create an America that works for everyone. If Democrats want to win in 2018 and take our country back from the billionaire class and Republicans, they need to start by supporting legislation that speaks to the real concerns facing the American people. We're fighting for a Congress that will put people before profits to create an America where everyone, regardless of the age, race, gender or economic status has access to health care, free college tuition, a livable planet, and a job that pays a living wage.</p>

          <p class="fs18">The Democratic Party Platform makes it clear that Democrats must fight for these issues as a party.  We’re asking all House Democrats to commit to supporting our #PeoplesPlatform bills by signing on as a co-sponsor when Congress comes back in session in September.</p>

          <a href="/platform" class="btn btn-block btn-secondary">Read the Platform <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </section>

  <section class="row timeline teal-text">
    <div class="container">
      <div class="row">
        <ol class="timeline__list col-md-8 col-md-offset-2">
          <li class="timeline__item">
            <span class="sub-heading">Tuesday, July 18</span>
            <h2 class="timeline__heading">Petition Launch</h2>
            <p class="timeline__description">The Summer for Progress Coalition will launch with a national petition, with the goal of getting 100,000 people to support the People’s Platform.</p>
            <a href="/petition" class="btn btn-primary">Sign the Petition</a>
          </li>

          <li class="timeline__item">
            <span class="sub-heading">Tuesday, July 25</span>
            <h2 class="timeline__heading">Petition Delivery & Day of Action in DC</h2>
            <p class="timeline__description">Our Revolution will hold a press conference with Coalition Partners and Progressive House Champions, followed by a petition delivery at the DNC headquarters.</p>
          </li>

          <li class="timeline__item">
            <span class="sub-heading">July 31 - August 4</span>
            <h2 class="timeline__heading">Lobbying & Direct Action Trainings</h2>
            <p class="timeline__description">The coalition will host an Online Summer for Progress Direct Action training for local partner organizations. Local Groups will attend training webinars and plan events.</p>
          </li>

          <li class="timeline__item">
            <span class="sub-heading">August 7 -11</span>
            <h2 class="timeline__heading">First National Week of Action</h2>
            <p class="timeline__description">Summer for Progress National Week of Action will kick off with lobbying days, townhall visits and local actions.</p>
          </li>

          <li class="timeline__item">
            <span class="sub-heading">August 14 - 18</span>
            <h2 class="timeline__heading">Strategy Break</h2>
            <p class="timeline__description">Week of regroup, assessment, and strategy. For some, this will be their first week of engagement with Members of Congress.</p>
          </li>

          <li class="timeline__item">
            <span class="sub-heading">August 21 - 25</span>
            <h2 class="timeline__heading">Second National Week of Action</h2>
            <p class="timeline__description">Second Week of Action will kick off with lobbying days, townhall visits and local actions.</p>
          </li>

          <li class="timeline__item">
            <span class="sub-heading">Friday, September 15</span>
            <h2 class="timeline__heading">Launch Final People’s Platform Scorecard  </h2>
            <p class="timeline__description">The Summer for Progress Coalition will release the Platform For The People Scorecard.</p>
          </li>
        </ol>
      </div>
    </div>
  </section>
{% endblock %}
