{% extends 'base.html' %}

{% block content %}
  <section class="section intro-bg pb4 row">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pt4">
          <span class="sub-heading">Sign the Petition</span>
          <h1 class="mt0">The Summer for Progress: Let’s Move Our Country Forward</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="row pb4 pt4 fs18">
        <div class="col-md-7">
          <p>At the end of last year’s Democratic presidential primary, we created the most progressive platform in history. Together we scored huge gains by getting free college tuition, closing private prisons, and creating a $15 national minimum wage into the driving document of the Democratic Party.</p>

          <p>Now, we’re asking you to join our campaign to get Democrats in Congress to sign on to our #People’sPlatform--eight bills currently in the House of Representatives that will address the concerns of everyday Americans. Each one of the bills below embodies an important part of the Democratic Party’s platform. From universal health care access to saving our environment from fossil fuels, we need your help to make these ideals a reality.</p>

          <p>If Democrats want to win in 2018 and beyond, we need to start by supporting legislation that addresses the real issues facing everyday Americans. Sign our petition to show your support for a legislative agenda that puts people first. We will be delivering your petitions to the Democratic National Committee on July 25th. Join us as we organize for a #PeoplesPlatform!</p>

          <p>During this summer’s congressional recess, Our Revolution, Democracy for America, Democratic Socialists of America, Progressive Democrats of America, #AllofUs, National Nurses United, and dozens of other organizations will be organizing to empower members like you to schedule a meeting, town hall, or direct action to demand Democratic members of Congress support the #PeoplesPlatform.</p>

          <p>Democrats in Congress must lay out a bold vision for how we create a country that works for everyone--not the just the very wealthy.  In the wealthiest nation on earth, each and every American family should have the basic things they need to thrive. We’ll keep fighting until everyone has access to healthcare, free college tuition, a livable planet, and a job that pays a living wage.</p>

          <h2>Sign our petition:</h2>

          <p>Tell House Democrats-- resistance isn’t enough, we must move our country forward with a bold, progressive agenda. Co-sponsor our #PeoplesPlatform when Congress returns to session in September.</p>

          <h3>Join us as we urge House Democrats to support:</h3>

          <ol>
            <li>Medicare for All: H.R. 676 Medicare For All Act</li>
            <li>Free College Tuition: H.R. 1880 College for All Act of 2017</li>
            <li>Worker Rights: H.R.15 - Raise the Wage Act</li>
            <li>Women’s Rights: H.R.771 - Equal Access to Abortion Coverage in Health Insurance (EACH Woman) Act of 2017</li>
            <li>Voting Rights: H.R. 2840 - Automatic Voter Registration Act</li>
            <li>Climate Change: H.R. 2242 - Keep It in the Ground Act of 2017</li>
            <li>Criminal Justice and Immigrant Rights: H.R.3543 - Justice is Not For Sale Act of 2017</li>
            <li>Taxing Wall Street: H.R. 1144 - Inclusive Prosperity Act</li>
          </ol>
          
          <p>The status quo isn’t working. This summer, let’s work together to get House Democrats to back our #PeoplesPlatform.</p>

          <ul>
            <li>Our Revolution</li>
            <li>Democratic Socialists of America</li>
            <li>Democracy for America</li>
            <li>Progressive Democrats of America</li>
            <li>#AllofUs</li>
            <li>Common Defense </li>
            <li>National Nurses United</li>
            <li>Working Families Party</li>
            <li>Millennials for Revolution</li>
            <li>Women's March</li>
            <li>Labor for Our Revolution</li>
            <li>People for Bernie</li>
            <li>Good Jobs Nation</li>
            <li>Young Progressives Demanding Action</li>
            <li>Healthcare Now</li>
            <li>Brand New Congress</li>
            <li>Justice Democrats</li>
            <li>Food & Water Action</li>
            <li>Fight for 15</li>
            <li>Democracy Spring</li>
          </ul>
        </div>

        <div class="col-md-5 orange-signup">
          {% include "partials/signup.html" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
