{% extends 'base.html' %}

{% block content %}
  <section class="section--intro pb4 row intro-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>The People’s Platform</h1>
          <p>Right now, the status quo isn’t working. Millions of people lack health insurance, cannot afford to pay for college, and cannot make ends meet on starvation wages. In the land of the free, we incarcerate more people than any other country in the world, and our addiction to fossil fuel has caused the planet to warm at a calamitous rate and puts our very future at risk.</p>

          <p><strong>Now is the time for Democrats in Congress to lay out their vision for how we create a country that works for everyone. Resisting the Trump Administration is only a part of the work we need to do to make this a country that truly prioritizes equality and justice for all.</strong></p>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="container">
      <div class="row pt4 pb4 teal-text">
        <h2>The Bills</h2>

        <div class="bill--expanded gray-text mt20">
          <span class="sub-heading">H.R. 676</span>
          <h3 class="bill__title">Medicare For All Act</h3>
          <p class="bill__sponsor">John Conyers, Jr. (D-Mich.)</p>

          <p>The U.S. spends more on health care per person, and as a percentage of gross domestic product, than any other advanced nation in the world, but all that money has not made us healthier. Instead, our high-priced health care system that leaves millions overlooked and we spend more yet end up with less coverage.</p>

          <p>We need a system where all people can get the care they need to maintain and improve their health when they need it regardless of income, age or socioeconomic status.</p>

          <p>The <strong>Expanded And Improved Medicare For All Act (H.R. 676)</strong>, introduced by Congressman John Conyers, Jr. (D-Mich.), would establish a privately-delivered, publicly-financed universal health care system, where patients, their physicians, and non-profit health care providers would be in charge of medical decisions -- not insurance companies. H.R. 676 would expand and improve the highly popular Medicare program and provide universal access to care to all Americans. The program would be primarily funded by a modest payroll tax on employers and employees, a financial transaction tax, and higher taxes on the wealthiest Americans.</p>

          <a href="#">Read the full bill ></a>
        </div>

        <ul class="bills-list clearfix">
          <li class="bill bill--healthcare">
            <span class="bill__number">H.R. 676</span>
            <h3 class="bill__title">Medicare for All Act</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>

          <li class="bill bill--education">
            <span class="bill__number">H.R. 1880</span>
            <h3 class="bill__title">College for All Act of 2017</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>

          <li class="bill bill--minimum-wage">
            <span class="bill__number">H.R. 15</span>
            <h3 class="bill__title">Raise the Wage Act</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>

          <li class="bill bill--womens-rights">
            <span class="bill__number">H.R. 771</span>
            <h3 class="bill__title">Equal Access to Abortion Coverage in Health Insurance</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>

          <li class="bill bill--voting-rights">
            <span class="bill__number">H.R. 2840</span>
            <h3 class="bill__title">Automatic Voter Registration Act</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>

          <li class="bill bill--criminal-justice">
            <span class="bill__number">H.R. 3543</span>
            <h3 class="bill__title">Justice is Not For Sale Act of 2017</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>

          <li class="bill bill--workers-rights" >
            <span class="bill__number">H.R. 1144</span>
            <h3 class="bill__title">Inclusive Prosperity Act</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>

          <li class="bill bill--climate">
            <!-- <span class="bill__number">H.R. 676</span> -->
            <h3 class="bill__title">Climate Change Bill</h3>

            <a href="#" class="bill__link">About the Bill <span class="glyphicon glyphicon-chevron-right"></span></a>
          </li>
        </ul>

        <a href="#" class="btn btn-success btn-block btn-lg">Sign the Petition</a>
      </div>
    </div>
  </section>
{% endblock %}
