<nav class="navbar navbar-centered">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li class="text-center"><a href="/" class="logo visible-xs text-center">Summer for Progress</a></li>
        <li class="text-left"><a href="/">About</a></li>
        <li class="text-center"><a href="/platform">Platform</a></li>
        <li><a href="/" class="logo hidden-xs">Summer for Progress</a></li>
        <li class="text-center"><a href="/petition">Petition</a></li>
        <li class="text-right"><a href="/get-involved">Get Involved</a></li>
        <!-- <li><a href="/scorecard">Scorecard</a></li> -->
        <!-- <li><a href="/resources">Resources</a></li> -->
      </ul>
    </div>
  </div>
</nav>
